*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	font-size: 20px;
}

article p:first-letter{
	font-size: 100px;
	color: #D7D5DB;
	float: left;
	font-family: 'Lustria', serif;
	line-height: 102px;
}

#container {
	width: 800px;
	margin: 0 auto;
}

header {
	margin-top: 30px;
	margin-bottom: 50px;
}


h1 a {
	color: red;
	font-size: 50px;
	font-family: 'Lustria', serif;
	float: left;
	margin-right: 20px;
}

header h2 {
	font-family: 'Lustria', serif;
	font-size: 23px;
	padding-top: 26px;
}

article h2 {
	font-size: 24px;
	font-family: 'Lustria', serif;
}

h2 {
	color: #D7D5DB;
}

nav{
	clear: both;
}

nav a {
	background-color: black;
	padding: 15px;
	font-size: 22px;
	font-family: 'Lustria', serif;
	/*margin-right: 20px;*/
}

nav a:link {
	color: white;
}

nav a:visited {
	color: white;
}

nav a:hover {
	color: red;
}

h3 {
	color: #D7D5DB;
	font-size: 24px;
	font-family: 'Lustria', serif;

}

h4 {
	text-align: right;
} 

h4 a {
	color: red;
	font-size: 20px;
	/*font-style: bold; why no difference? default is boldx*/
}
img {
	width: 800px;
}

hr {
	background-color: #D7D5DB;
	border:0;
	height: 1px;
}

footer li{
	/* do I need to specify a? no because it applies to li, not a*/
	list-style: none;
	float: left;
}

footer li:last-child a{
	border-right: 0;
}

footer a {
	color: red;
	font-size: 18px;
	font-family: 'Lustria', serif;
	border-right: solid 2px #D7D5DB;
	padding: 0 9px;
}

footer ul{
	padding: 0;
}

footer p{
	padding-top: 10px;
	clear:both;
	/* need for clearfix? better */
	color: #D7D5DB;
}

